# === Banco de dados AWS RDS PostgreSQL (Free Tier) ===
DATABASE_URL='postgresql://neondb_owner:npg_1hNj0yIqgLaz@ep-tiny-credit-ahsej4hu-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
# === Credenciais do painel Admin ===
ADMIN_USER=admin
ADMIN_PASSWORD=Cantoneira@2025Forte!

# === Configurações AWS ===
AWS_REGION=us-east-1
S3_BUCKET_IMAGENS=cantoneira-facil-imagens-2025

# === WhatsApp do dono da loja ===
WHATSAPP_NUMERO=5561985700278

# === CORS (deixe assim por enquanto, depois coloca seu domínio real) ===
CORS_ORIGINS=https://*.cloudfront.net,http://localhost:8000,https://d1234567890.cloudfront.net