{% extends "base_new.html" %}

{% block body_class %}home-ref{% endblock %}

{% block pre_footer %}{% endblock %}

{% block content %}

<section class="statement">
  <div class="section-container statement__layout">
    <div class="statement__content">
      <h2 class="heading-lg">
      HISTORIA, ATENDIMENTO PROXIMO E COMPROMISSO COM A QUALIDADE
      </h2>
      <p class="muted">
      A Casa das Cantoneiras surgiu da necessidade de encontrar tudo em um so lugar e do desejo de empreender com excelencia. Somos especialistas em solucoes de fixacao e acabamento, oferecendo uma linha completa que vai desde cantoneiras para escadas e paredes ate suportes especificos para prateleiras. Nosso compromisso e entregar qualidade para o seu projeto, seja ele residencial ou comercial.
      </p>
      <a class="btn btn--primary" href="/contato">Fale com a equipe</a>
    </div>
    <div class="statement__gallery">
      <img src="static\images\img10.jpeg" alt="Casa das Cantoneiras">
      <img src="static\images\img11.jpeg" alt="Casa das Cantoneiras">
      <img src="static\images\img13.jpeg" alt="Casa das Cantoneiras">
      <img src="static\images\img14.jpeg" alt="Casa das Cantoneiras">
    </div>
  </div>
</section>
{% endblock %}
